{% extends "base.html" %}

{% block header %}{{ expansion.name }} Details{% endblock %}

{% block body %}
    <table class="table striped">
        <tr>
            <th>Name:</th><td>{{ expansion.name }}</td>
        </tr>
        <tr>
            <th>Cards:</th>
            <td>
                {% if not cards %}
                    no cards found
                {% else %}
                    {% for card in cards %}
                        {{ card.name }}
                    {% endfor %}
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}